.shop-cart {
    display: grid;
    grid-template-rows: [toggle-s] 40px [toggle-e content-s] 1fr [content-e];
    grid-template-columns: [s] 1fr [e];
    gap: 15px 0;
}

.shop-cart {
    &__toggle {
        grid-row: toggle-s/toggle-e;
        grid-column: s/e;
        justify-self: end;
        display: grid;
        justify-items: center;
        align-items: center;
    }
    &__content {
        grid-row: content-s/content-e;
        grid-column: s/e;

        height: 675px;
        width: 520px;
        background: #333;
        box-shadow: -3px 20px 20px 0 rgba(0, 0, 0, 0.2)
    }
}

.cart-button {
    background: #333;
    font-size: 28px;
    color: white;
    border-radius: 25px 0 0 25px;
    height: 40px;
    width: 76px;
}

.cart-content {
    display: grid;
    grid-template-rows: 25px [title-s] 40px [title-e products-s] 1fr [products-e footer-s] 113px [footer-e];
    grid-template-columns: 25px [s] 1fr [e] 25px;

    &__title {
        grid-row: title-s/title-e;
        grid-column: s/e;
        font-weight: 600;
        font-size: 30px;
        font-family: 'Titillium Web';
        color: #E6E6E6;
    }

    &__products {
        padding-top: 50px;
        display: grid;
        grid-row: products-s/products-e;
        grid-column: s/e;
        gap: 45px 0;

        overflow-y: scroll;
    }

    &__footer {
        display: grid;
        grid-row: footer-s/footer-e;
        grid-column: 1/-1;
    }
}

.cart-footer {
    height: 113px;
    background-color: #1A1A1A;

    display: grid;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: 50px [checkout-s] 1fr [checkout-e subtotal-s] 1fr [subtotal-e] 27px [price-s] 46px [price-e] 31px;
    align-items: center;

    & > * {
        grid-row: s/e;
    }

    &__checkout {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-column: checkout-s/checkout-e;

        height: 38px;
        width: 183px;
        border-radius: 20px;
        background-color: $green;
        color: white;
        font-family: 'Open Sans';
        font-size: 1.6rem;
        font-weight: 600;

        transition: all .3s ease;

        &:hover {
            transform: scale(0.97);
        }

        &:active {
            transform: scale(0.95);
        }
        &:focus {
            outline: none;
        }
    }

    &__subtotal {
        font-size: 18px;
        grid-column: subtotal-s/subtotal-e;
        justify-self: end;
    }

    &__price {
        font-size: 18px;
        color: white;
        font-weight: 600;
        grid-column: price-s/price-e;
        justify-self: start;
    }
}