html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@import './variables.scss';
@import './layout.scss';
@import './page-title.scss';
@import './headernavbar.scss';
@import './auth/signin.scss';
@import './auth/signup.scss';