@import './variables.scss';

html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Open Sans";
    color: $gray;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}


@import './layout.scss';
@import './details.scss';
@import './form-fields.scss';
@import './page-title.scss';
@import './headernavbar.scss';
@import './quantity.scss';
@import './green-price-tag.scss';
@import './auth/signin.scss';
@import './auth/signup.scss';
@import './account/account.scss';
@import './account/purchase-history.scss';
@import './account/account-information.scss';
@import './shop/shop.scss';
@import './shop/cart-product.scss';
@import './shop/shop-cart.scss';
@import './shop/shop-search-bar.scss';
@import './shop/shop-product.scss';
@import './order/review.scss';
@import './order/reviewForm.scss';
@import './order/reviewProduct.scss';