html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Open Sans";
    color: #808080;
}

@import './variables.scss';
@import './layout.scss';
@import './details.scss';
@import './form-fields.scss';
@import './page-title.scss';
@import './headernavbar.scss';
@import './auth/signin.scss';
@import './auth/signup.scss';
@import './account/account.scss';
@import './account/purchase-history.scss';
@import './account/account-information.scss';
@import './shop/shop.scss';
@import './shop/shop-search-bar.scss';